@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: rgba(10, 10, 10, 1);
  --main-text: rgba(250, 250, 250, 1);
  --secondary-background: rgba(23, 23, 23, 1);
}

body {
  background-color: var(--main-background);
  color: var(--main-text);
  display: flex;
}

.btn {
  padding: 0.25rem 0.5rem;
}

.sidebar {
  background-color: var(--main-background);
}
